<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="SignupModalLabel">Sign up Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= bootstrap_form_with(model: @user, url: sign_up_path, local: true) do |f| %>
            <%= f.firstname_field :firstname %>
            <%= f.surname_field :surname %>
            <%= f.date_field :dob %>
            <%= f.email_field :email %>
            <%= f.password_field :password %>
            <%= f.password_field :password_confirmation %>
            <%= f.submit "Sign Up", class: "btn btn-primary"%>
            <% end %>
        </div>
    </div>
</div>