<div class="row align-items-center g-lg-5 py-5">
    <h1>Sign up</h1>
    <%= bootstrap_form_with(model: @user, url: sign_up_path, local: true) do |f| %>
    <%= f.text_field :firstname %>
    <%= f.text_field :surname %>
    <%= f.date_field :dob %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign Up", class: "btn btn-primary"%>
    <% end %>
</div>
